.title {
  font-family: sans-serif;
}

.mainBox {
  display:flex;
  justify-content:center;
  align-items:center;
  width:100vh;
  height:100vh;
}

.watchBox {
  position:absolute;
  background-color:#381666;
  padding:0px 20px 20px 20px;
  border-radius:15px;
  text-align:center;
  display:block;
  border: 1px solid #61369c;
  color:#fff;
  font-size:30px;
  line-height:20px;
}
            
        
button {
  background-color:#dae329;
  outline:none;
  padding:10px;
  border-radius:10px;
  box-shadow:none;
  border-style:none;
  font-size:15px;
  font-weight:600;
  cursor:pointer;
  background-position:center;
}
        
button:hover {
  background-color:#ceeded;
}

button:active {
  background-color:##b9eaeb;
}
    
    
.title {
  color:#ab0e1d;
  position:absolute;
  top:20%;
  font-size:30px;
  text-align:center;
}
    
